<h1>Welcome to definition</h1>

<h1>Add a word:</h1>
  <form class="" action="/words" method="post">
    <label for="word">Word:</label>
    <input class="btn btn-default" name="word" id="word" type="text">
    <button type="submit" class="btn btn-danger">Add a new Word</button>
  </form>
